# User specific files
chat.pro.user
Makefile

# moc files
moc_*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
chat
*.exe
*.out
*.app
